@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Fira Sans", serif;
    background-color: #F1F1F3;
}

/* nav style */
.sign-in-color {
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
}

.sign-in-btn {
    border-radius: 8px;
    padding: 15px 30px;
    border-width: 1px;
}

nav {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin: 27px 160px;
}

/* banner styles */
.banner-subtittle {
    font-size: 24px;
    font-weight: 500px;
    color: rgba(14, 14, 14, 0.5);
}

.banner-text {
    font-size: 56px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 24px;
}

.btn {
    background-color: #006A50;
    border-radius: 8px;
    border: 1px;
    padding: 17px 34px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.banner-picture {
    height: 400px;
    width: 474.03;
    padding: 80px 60px 80px 34px;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    width: 1280;
    height: 560px;
    margin: 20px 160px 80px 160px;
}

.banner-content {
    margin: 117px 64px 117px 60px;
}

.section-tittle {
    font-size: 40px;
    font-weight: 700;
}

.section-description {
    font-size: 16px;
    font-weight: 400;
}

#main {
    margin-left: 160px;
    margin-right: 160px;
}

.future-visions {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    align-items: center;
    margin-bottom: 80px;
}

.transformation {
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    margin-top: 24px;
    border-radius: 16px;
    width: 410px;
    height: 270px;
}

.transformation-tittle {
    font-size: 20px;
    font-weight: 700;
}

.energy {
    background-color: #C6E4D6;
    padding: 32px;
    margin-top: 24px;
    border-radius: 16px;
    width: 410px;
    height: 270px;
}

.energy-tittle {
    font-size: 20px;
    font-weight: 700;
}

.infrastructure {
    background-color: #F7EBCF;
    padding: 24px;
    margin-top: 24px;
    border-radius: 16px;
    width: 410px;
    height: 290px;
}

.infrastructure-tittle {
    font-size: 20px;
    font-weight: 700;
}

.quote {
    background-color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    /* display: flex; */
    justify-content: center;
    padding: 50px;
}

.chobi {
    margin-bottom: -58px;
}

.text {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;

}

.name {
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
    margin-top: 12px;
}

.identity {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    margin-top: 4px;
}

.satellite1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-bottom: 24px;
    padding: 48px;
}

.satellite2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-bottom: 24px;
    padding: 48px;
}

.satellite-chobi {
    width: 408px;
    height: 306px;

    border-radius: 24px;
}

.btn-design {
    background-color: #006A50;
    border-radius: 8px;
    padding: 13px 26px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

.donate-text,
.donate-description {
    text-align: center;
}

.taka {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.border {
    border: 1px solid;
    border-color: black;
    width: 250px;
    height: 128px;
    padding: 40px;
    border-radius: 16px;
}
.taka-amount{
    font-size: 40px;
    font-weight: 700;
    width:160 px;
    height: 48px;
}

/* footer styles */

.footer-bg {
    background-color: #C6E4D6;
    text-align: center;
    width: 1280;
    height: 295px;
    padding: 80px 265px;
    border-radius: 24px;
    margin: 80px 160px;
}

.footer-elements {
    text-align: center;
    background-color: white;
    padding: 50px 160px;
}

.first-tittle {
    font-size: 40px;
    font-weight: 700px;
    height: 48px;
    width: 622;
}

.first-description {
    font-size: 16px;
    font-weight: 400px;
    height: 48px;
    width: 622;
    color: rgba(14, 14, 14, 0.7);
}

p {
    color: rgba(14, 14, 14, 0.7);
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-part {
    width: 600px;
    height: 55px;
    padding-left: 40px;
    border: none;
    border-radius: 12px 0px 0px 12px;
    
}

.subscribe-btn {
    background-color: #006A50;
    border: none;
    font-weight: 600;
    border-radius: 0px 12px 12px 0px;
    height: 57px;
    width: 150px;
    color:#FFFFFF;
}